
<div class="vcard-main-wrapper">
<div class="vcard-content-wrapper bg-img" style="background-image: url(img/bg-img/bg2.jpg);">

<%= render "nav"%>

<div class="vcard-page-content-wrapper d-flex align-items-end">
<div class="page-content">

<div class="about-me-area section-padding-100 clearfix">
<div class="container-fluid">
<div class="row align-items-end">
<div class="col-12 col-xl-6">
<div class="about-me-text">
<h2>Creative &amp; Commited</h2>
<h6>Nam id congue lectus, a venenatis massa. Maecenas justo libero, vulputate vel nunc id, blandit feugiat sem. Mauris impe rdiet, neque ornare varius.</h6>
</div>
</div>
<div class="col-12 col-xl-6">
<div class="about-me-text">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu metus sit amet odio sodales placerat. Sed varius leo ac leo fermentum, eu cursus nunc maximus. Integer convallis nisi nibh, et ornare neque ullamcorper ac. Nam id congue lectus, a venenatis massa. Maecenas justo libero, vulputate vel nunc id, blandit feugiat sem. Mauris imperdiet, neque ornare varius mattis.</p>
</div>
</div>
</div>
</div>
</div>
 

<div class="skills-area clearfix">
<div class="container-fluid">
<div class="row">

<div class="col-12 col-md-6 col-xl-3">
<div class="single-skils-area mb-100">
<div id="circle" class="circle" data-value="0.75">
<span>75%</span>
</div>
<div class="skills-text">
<h6>Photos Taken</h6>
<p>Etiam nec odio vestibulum est.</p>
</div>
</div>
</div>

<div class="col-12 col-md-6 col-xl-3">
<div class="single-skils-area mb-100">
<div id="circle2" class="circle" data-value="0.83">
<span>83%</span>
</div>
<div class="skills-text">
<h6>Digital Design</h6>
<p>Odio vestibulum est mattis.</p>
</div>
</div>
</div>

<div class="col-12 col-md-6 col-xl-3">
<div class="single-skils-area mb-100">
<div id="circle3" class="circle" data-value="0.25">
<span>25%</span>
</div>
<div class="skills-text">
<h6>HTML Coding</h6>
<p>Vestibulum est mattis effic.</p>
</div>
</div>
</div>

<div class="col-12 col-md-6 col-xl-3">
<div class="single-skils-area mb-100">
<div id="circle4" class="circle" data-value="0.95">
<span>95%</span>
</div>
<div class="skills-text">
<h6>Ilustrations</h6>
<p>Vestibulum est mattis effic.</p>
</div>
</div>
</div>
</div>
</div>
</div>


</div>
</div>
</div>
</div>

